main {
    display: flex;
    justify-content: space-around;
}

/* Calendar */
.calendar-container {
    margin: 10px;
    min-width: 65%;
}

.calendar-grid-container {
    display: grid;
    grid-template-columns: repeat(7, auto);
    text-align: center;
}

.day-container {
    border: 1px solid black;
    min-width: 100px;
    min-height: 200px;
}


/* Task List */
.task-view-container {
    width: 100%;
    margin: 10px;
}

.day-list-container {
    border: 1px solid black;
}

/* Popups */
