main {
    display: flex;
    justify-content: space-around;
}

/* Calendar */
.calendar-container {
    margin: 10px;
    min-width: 65%;
}

.calendar-header {
    display: flex;
    justify-content:space-between;
}

.calendar-navagation-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}

.nav-calendar-button {
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 0px;
}

.add-entry-container {
    display: flex;
    align-items: center;
}

.calendar-grid-container {
    display: grid;
    grid-template-columns: repeat(7, auto);
    text-align: center;
}

.day-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    min-width: 100px;
    min-height: 200px;
}

.day-container.current-day {
    background-color: lightcoral;
}

.day-container.selected {
    background-color: lightblue;
}

.task-button {
    text-align: left;
}

/* Task List */
.task-view-container {
    width: 100%;
    margin: 10px;
}

.day-list-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

/* Popups */
