/* Personalization */

.timeslots-grid-container {
    display: grid;
    grid-template-columns: repeat(7, auto);
    text-align: center;
    overflow: scroll;
    max-height: 85vb;
}

.timeslot-day-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    min-width: 50px;
    min-height: 100px;
}
