body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: hidden;
}

main {
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

/* Site Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vb;
    border-bottom: 3px solid black;
}

.settings-nav {
    display: flex;
    justify-content: space-between;
    height: 75px;
    width: 175px;
    margin-right: 20px;
}

.site-title {
    margin-left: 20px;
}

.site-title a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
}

body.dark .site-title a {
    color: white;
}

body.high-contrast .site-title a {
    color: white;
}

/* Site-Wide Popups */

.popup-container-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0005;
}

.popup-container {
    position: absolute;
    background-color: #fff;
    border: black solid 1px;
    top: 30px;
    width: 70%;
    min-height: 55%;
    left: 15%;
}

.close-button {
    float: right;
    margin: 5px;
    border-radius: 50%;
}

.popup-bottom-buttons {
    position: absolute;
    bottom: 0px;
    margin: 2.5%;
    width: 95%;
    display: flex;
    justify-content: center;
}

/* Site Footer */

/* Dark Mode */
body.dark {
    background-color: #444;
    color: white;
}

body.dark div {
    background-color: #444;
    border-color: white;
}

/* High-Contrast Mode */
body.high-contrast {
    background-color: black;
    color: white;
}

body.high-contrast div {
    background-color: black;
    border-color: white;
}


.hidden {
    display: none;
}
